@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: "Gerbil", sans-serif;
    color: #000000;
    background-color: #FFFFFF;
  }
}

@font-face {
  font-family: "Gerbil";
  src: url("./assets/fonts/Gerbil.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}